@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* display: flex; */
  color:#160c74;
  background-color: #CFD4C5;
}

.header{
  background-image:linear-gradient(rgba(0,0,0,0.7), 
  rgba(0,0,0,0.7)),
  url('img/xilo-cordel.jpg');
  background-size: 445px;
}

h1 {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center;     /* Centers items vertically */
  color: #e66100;
  height: 85px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;    
  color: white;
}
.container{
  display: flex;
  width: 100%;
}

#map {
  margin: auto;  
  bottom: 0;
  width: 80%;
  height: 80vh;
}

footer {
  position:absolute;
  bottom:0;
}

#popup{
  display: none;
  width: 350px;
  flex-shrink: 0;
  padding: 20px;
  color: #000000;
  background: goldenrod;
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 12px;
}

#popup h3 {
    margin-top: 0;
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

#popup img {
    display: block;
    margin-top: 15px;
    border-radius: 8px; /* Rounds the image corners */
    width: 100%;        /* Makes image responsive to the popup width */
    height: auto;
}